@import "bootstrap";
@import "messages";

.mafiatitle{
	background-color : black;
	color: white;
}

.font_dead{
color: #FF7575;	
font-weight : bold;
}

.font_alive{
color: #44B4D5;
font-weight : bold;
}


.chatting_room{
    height:340px;
 	 width:370px;  
 	 overflow: scroll;
}

.chatting_info{
    height:340px;
 	 width:270px;  
}

.chatting_info h3{
	text-align:center;
	align: center;
	background-color : red;

}

.scroll_fixed
{
    position: fixed;
    top: 20px;
}

.footer {
position:relative;
bottom: 0px;
}

chatting_space{
    height:340px;
 	 width:270px;  
}
