// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mafiachat{
background-image: url("mafia_modify_3.jpg");
background-repeat: no-repeat;
background-position: center; 
background-size: cover; 
}

.mafiachat:hover{
background-image: url("mafia_modify_2.jpg");
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
 
}

.escribe{
	color : red;
	word-wrap:break-word;
	overflow-x: hidden;
}


.civilchat{
background-image: url("society.png");
background-repeat: no-repeat;
background-position: center; 
background-size: cover; 
}
