// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.civilchat{
background-image: url("city.jpg");
background-repeat: no-repeat;
background-position: center; 
background-size: cover; 
	.nickcolor {
		color:red;
	}
	.escribe_day{
	color : black;
	word-wrap:break-word;
	overflow-x: hidden;
     }
}

.mafiachat{
background-image: url("mafia_modify_3.jpg");
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
	.nickcolor {
		color:green;
	}
	.escribe_night{
	color : white;
	word-wrap:break-word;
	overflow-x: hidden;
     }
     
     .mafia_image {
      	background-image: url("moon1.jpg") !important;
     }
}




